.App {
	text-align: center;
	font-family: Gopher;
	margin: 0 auto;
	padding: 2rem;
	max-width: 960px;
}

.line {
  box-sizing: border-box;
	height: 2px;
	width: 100%;
	display: block;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	grid-column: 1 / 9;
	background: black;
	margin: 2rem 0;
}